{{ define "main" }}
<h1 class="flex flex-row space-x-2 items-center">
  <span>{{ .Title }}</span>
  {{- with .OutputFormats.Get "rss" -}}
  <a rel="alternate" type="application/rss+xml" href="{{ .RelPermalink }}"
    title="Subscribe to the {{ $.Title }} RSS feed" class="text-slate-300 hover:text-orange-600">
    {{ partial "svg/rss.html" }}
  </a>
  {{- end }}
</h1>

{{ .Content }}

<div class="flex flex-col space-y-8">

  {{ $pages := where site.RegularPages "Section" "posts" }}
  {{ $pager := .Paginate ($pages.GroupByDate "2006") 20 }}

  {{- range $pager.PageGroups }}
  <section class="not-prose flex flex-col space-y-4">
    <h2 class="text-xl font-semibold opacity-60 text-right">{{ .Key }}</h2>

    {{- $yearPages := .Pages.GroupByDate "2006-01" }}
    {{- range $yearPages }}
    <div class="not-prose flex flex-col space-y-2">
      {{ $monthMap := dict "01" "January" "02" "February" "03" "March" "04" "April" "05" "May" "06" "June" "07" "July"
      "08" "August" "09" "September" "10" "October" "11" "November" "12" "December" }}
      <h3 class="text-lg font-medium opacity-70 text-right">{{ index $monthMap (index (split .Key "-") 1) }}</h3>
      {{ partial "posts/list.html" .Pages }}
    </div>
    {{- end }}

  </section>
  {{- end }}

  {{- if gt $pager.TotalPages 1 }}
  {{ partial "pagination.html" . }}
  {{- end }}
</div>
{{ end }}